<div class="formulario-general">
    <article class="formulario">
        <form action="">
            <p>¿Te gustaría comentar algo sobre este artículo? Pues hazlo, no te cortes. Tan solo rellena el siguiente formulario.</p>
            <br>
            <fieldset>
                <input placeholder="Nombre" type="name" name="username" maxlength="30">
                <br><br>
                <input placeholder="Contraseña" type="password" name="password" maxlength="30">
            </fieldset>
            <br>
            <p>Ahora escribe aquí lo que quieras contarme. ¡A tu aire!</p>
            <br>
            <textarea placeholder="Comenta algo" name="comentario"></textarea>
            <br><br>
            <input class="boton" type="button" value="Enviar">
        </form>
    </article>
</div>