<header class="web-header">
    <div class="web-title">
        <h1>Tipo</h1>
        <h1>grafía</h1>
        <h1>viva.</h1>
    </div>
    <div class="web-subtitle">
        <p>La tipografía al diseño es lo mismo que el arroz a la paella. Una breve pero intensa galería para ver y aprender sobre tipografía.</p>
    </div>

    <div class="web-search">
        <img class="lupa" src="https://cdn2.iconfinder.com/data/icons/kailoon/myicon/search.png" alt="Lupa">
        <input class="busqueda" type="search">
    </div>

    <div class="enlace-registro">
        <p>Regístrate haciendo click <a href="/">aquí.</a></p>
    </div>
</header>