<section class="listado ideal">

    <article class="typo">
        <div class="padre-thumb"><a href="../detail.html"><div class="thumb uno"></div></a>
        </div>
        <div class="nombre">Futura</div>
        <div class="descripcion">Una letra de palo seco constructivista diseñada por Paul Renner y desarrollada durante el racional periodo de la Bauhaus.</div>
    </article>

    <article class="typo">
        <div class="padre-thumb"><a href="../detail.html"><div class="thumb dos"></div></a>
        </div>
        <div class="nombre">Garamond</div>
        <div class="descripcion">Una de las clásicas, creada en el siglo XVI por Claude Garamond. Quizás la novela que lees actualmente esté compuesta en Garamond.</div>
    </article>

    <article class="typo">
        <div class="padre-thumb"><a href="../detail.html"><div class="thumb tres"></div></a>
        </div>
        <div class="nombre">Gill Sans</div>
        <div class="descripcion">Una tipografía <i>sans-serif</i> humanística creada por Eric Gill a principio del siglo XX. Muy legible pero con personalidad.</div>
    </article>

    <article class="typo">
        <div class="padre-thumb"><a href="../detail.html"><div class="thumb cuatro"></div></a>
        </div>
        <div class="nombre">Baskerville</div>
        <div class="descripcion">Otr de las clásicas. Una tipografía <i>old-style</i> de transición (más contraste, más rectitud y un eje más vertical).</div>
    </article>

    <article class="typo">
        <div class="padre-thumb"><a href="../detail.html"><div class="thumb cinco"></div></a>
        </div>
        <div class="nombre">Univers</div>
        <div class="descripcion">Algunos la consideran la <i>sans-serif</i> definitiva. Quizás por eso ésta es la fuente más cara. Creada por Adrian Frutiger en 1957.</div>
    </article>

    <article class="typo">
        <div class="padre-thumb"><a href="../detail.html"><div class="thumb seis"></div></a>
        </div>
        <div class="nombre">Comic Sans</div>
        <div class="descripcion">Teníamos que ponerla... Creada inicialmente para uso en un sotfware infantil, trascendió a la sociedad, que la usó sin compasión.</div>
    </article>

    <article class="typo">
        <div class="padre-thumb"><a href="../detail.html"><div class="thumb siete"></div></a>
        </div>
        <div class="nombre">Avant Garde</div>
        <div class="descripcion">Creada por inspiración en el logo de la revista <i>Avant Garde</i>, se trata de una tipo geométrica a más no poder. Cuidado con ella. </div>
    </article>

    <article class="typo">
        <div class="padre-thumb"><a href="../detail.html"><div class="thumb ocho"></div></a>
        </div>
        <div class="nombre">Bodoni</div>
        <div class="descripcion">Junto con <i>Didot</i>, se trata de una fuente eminentemente didona. Del siglo XVIII, con la nueva sobriedad y elegancia de la razón.</div>
    </article>

    <article class="typo">
        <div class="padre-thumb"><a href="../detail.html"><div class="thumb nueve"></div></a>
        </div>
        <div class="nombre">Clearface</div>
        <div class="descripcion">Una de las primeras fuentes del siglo XX. Creada por Morris Fuller Benton, se trata de una tipo muy legible y evocadora.</div>
    </article>

    <article class="typo">
        <div class="padre-thumb"><a href="../detail.html"><div class="thumb diez"></div></a>
        </div>
        <div class="nombre">Helvetica</div>
        <div class="descripcion">La ominosa Helvetica, creada en medio del estilo suizo y de la nueva tipografía de Tschihold, se ha convertido en cánon.</div>
    </article>
</section>